// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pin-index {
  columns: 300px auto;
}

.pin-card {
  width: 260px;
  display: flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 10px;
  margin: 5px;
  flex-direction: column;
}

.pin-create-card {
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 18px;
  border-radius: 10px;
  margin: 5px;
}

.pin-create-card:hover {
  background-color: rgba(0, 126, 178, 0.4);
}

.pin-card:hover {
  background-color: rgba(0, 126, 178, 0.4);
}

.save-button {
  position: absolute;
  right: 20px;
  top: 13px;
}

.save-pin-button {
  display: flex;
  background-color: #007eb2;
  margin: 5px;
  padding: 8px;
  width: 70px;
  color: white;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 6px;
}

.save-pin-button:hover {
  background-color: #006f9d;
}

.pin-cover {
  max-width: 100%;
  max-height: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.pin-cover:hover {
  cursor: zoom-in;
}

.pin-image {
  width: 100%;
  height: auto;
}

.pin-card .pin-options {
  display: none;
}

.pin-card:hover .pin-options {
  display: flex;
}

.pin-show-container {
  max-width: 100%;
}

.pin-show-image {
  max-width: 100%
}

.edit-pin-button {
  height: 40px;
  width: 40px;
  font-size: 24px;
  color: white;
  background-color: #F5FFFF;
  border-radius: 20%;
  position: absolute;
  border: 1px solid white;
  top: 16px;
  left: 25px;
  color: #5f5f5f;
}

.edit-pin-button:hover {
  background-color: #bfcdcd;
}

.edit-pin-button:active {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #007EB2;
}

.modal-close {
  align-self: flex-end;
}

.modal-close:hover {
  cursor: pointer;
}
