// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-component {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Droid Sans', sans-serif;
  z-index: 1;
}

.session-form-container {
   background-color: #daebfa;
   padding: 50px;
   border-radius: 10px;
   font-weight: 700;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid white;
}

.login-logo {
  height: 25px;
  width: 25px;
  margin-top: 10px;
}

.session-form-container h3 {
  text-align: center;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-label {
   text-align: right;
}

input {
   margin: 0px 10px;
   border-radius: 5px;
   padding: 3px;
}

.login-button {
  background-color: #daebfa;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 75px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  margin: 5px;
  font-weight: 600;
}

.login-button-demo {
  background-color: #007EB2;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 75px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  margin: 5px;
  font-weight: 600;
}

.login-header {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 20px;
}

.submit-button {
  background-color: #007EB2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  color: white;
}

.signup-button {
  background-color: #0e43dc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 45px;
  color: white;
  margin-top: 10px;
}

.signup-button:hover, .submit-button:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #0a2e94;
}

.session-form a {
  text-align: center;
}

.background-image {
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-animation: 100s scroll infinite linear;
}

.background-image img {
  width: 100%;
  height: 100%;

}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(-700px);
  }
}

.footer-info {
  display: flex;
  flex-direction: row;
  z-index: 2;
  align-self: center;
  color: white;
  margin-top: 5%;
  width: 20%;
  justify-content: space-between;
}
