/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Oxygen', sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
}

.session-form-container {
   background-color: #30b9fb;
   padding: 50px;
   border-radius: 10px;
   font-weight: 700;
}

.session-form-container h3 {
  text-align: center;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-label {
   text-align: right;
}

input {
   margin: 0px 10px;
   border-radius: 5px;
   padding: 3px;
}

.login-button {
  background-color: #b2cce8;
  border: 0px solid white;
  border-radius: 5px;
  height: 30px;
  width: 75px;
  cursor: pointer;
}

.login-header {
  display: flex;
  flex-direction: row-reverse;
}

.submit-button {
  background-color: #b2cce8;
  border: 0px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.session-form a {
  text-align: center;
}

.background-image {
  overflow: hidden;
  z-index: -1;
  position: fixed;
  background: url('jellyfish.png');
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-animation: 100s scroll infinite linear;
}

.background-image img {
  width: 100%;
  height: 100%;

}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(-1200px);
  }
}
