/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: #F5FFFF;
}

main {
  background-color: #F5FFFF;
  font-family: 'Droid Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.main-content > * {
  padding-top: 65px;
}

.basic-button {
  height: 100%;
  background-color: inherit;
  border: none;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0 4px;
  color: #5f5f5f;
  padding: 10px;
}

.basic-button:hover {
  background-color: #007EB2;
  border-radius: 20px;
}

.basic-button:active {
  box-shadow: 0 0 0 3px white, 0 0 0 4px #007EB2;
}

.basic-button:disabled {
  background-color: grey;
}

.error-message, .form-errors {
  color: red;
}

@import "font-awesome-sprockets";
@import "font-awesome";
