.form-content {
  padding: 18px 16px;
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.form-input-field {
  width: 60%;
  height: 80%;
  font-size: 100%;
}

.create-board-text {
  align-self: flex-start;
  font-size: 16px;
  padding-top: 10px;
  color: white;
  font-weight: 700;
  margin-left: 10px;
}

.board-form-buttons {
  align-self: flex-end;
}

input {
  border: 1px solid #007EB2;
}

.edit-board-button {
  height: 48px;
  width: 48px;
  font-size: 25px;
  color: white;
}

.edit-board-button:hover {
  background-color: rgba(0, 126, 178, 0.7);
  border-radius: 50px;
}

.edit-board-button:active {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #007EB2;
}

.line-break {
  border: 1px solid #007EB2;
  width: 100%
}

textarea.form-input-field {
  resize: none;
  height: 70px;
  margin-right: 10px;
}

.board-title {
  color: #007EB2;
}

.topic-selector {
  padding: 3px;
  margin: 10px;
}

.edit-button {
  z-index: 1;
  align-self: left;
  position: absolute;
}

.upload-choice {
  width: 320px;
}

.upload-title {
  font-size: 20px;
}

.pin-upload-button img {
  max-height: 210px;
  width: 50%;
}

.upload-buttons {
  display: flex;
}

.upload-part {
  display: flex;
  flex-direction: column;
}
