.form-content {
  padding: 18px 16px;
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input-field {
  width: 60%;
  height: 80%;
  font-size: 100%;
}
