button {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  width: 100%;
  z-index: 50;
  position: fixed;
  height: 60px;
  background-color: #74D6FF;
  justify-content: space-between;
  align-items: center;
  font-family: 'Droid Sans', sans-serif;
}

.logo-button {
  height: 100%;
  font-size: 30px;
  background-color: inherit;
  border: none;
  margin-left: 5px;
  width: 40px;
}

.logo-button:hover {
  background: #007EB2;
  border-radius: 50px;
}

.logo-button:active {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #007EB2;
}

.nav-button {
  height: 35px;
  background-color: inherit;
  border: none;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0 4px;
  color: white;
  padding: 5px;
}

.nav-button:hover {
  background-color: #007EB2;
  border-radius: 20px;
}

.nav-button:active {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #007EB2;
}

.right-side-nav {
  display: flex;
  margin-right: 5px;
}

.user-avatar {
  border-radius: 50px;
}

.nav-user {
  display: flex;
}

.user-name {
  margin-top: 3px;
}
